{{#if page_type '===' 'product'}}

    <div class="pdpinfo-container">
        <div class="pdpinfo-wrapper">
            <div class="pdpinfo-part">
                <div class="pdpinfo-image">
                    <img src="{{cdn 'webdav:DB_Made_In_USA.png'}}"/>
                </div>
                <div class="pdpinfo-text">
                    <p>{{lang 'products.bottom.mia_text'}}</p>
                </div>
            </div>
            <div class="pdpinfo-part">
                <div class="pdpinfo-image">
                    <img src="{{cdn 'webdav:DB_Factory_Direct.png'}}"/>
                </div>
                <div class="pdpinfo-text">
                    <p>{{lang 'products.bottom.person_text'}}</p>
                </div>
            </div>
            <div class="pdpinfo-part">
                <div class="pdpinfo-image">
                    <img src="{{cdn 'webdav:DB_Shipping.png'}}"/>
                </div>
                <div class="pdpinfo-text">
                    <p>{{lang 'products.bottom.truck_text'}}</p>
                </div>
            </div>
            <div class="pdpinfo-part">
                <div class="pdpinfo-image">
                    <img src="{{cdn 'webdav:DB_Quality_And_Safe.png'}}"/>
                </div>
                <div class="pdpinfo-text">
                    <p>{{lang 'products.bottom.badge_text'}}</p>
                </div>
            </div>
        </div>
    </div>

{{/if}}
