<div class="blogs-container">

    <h3 class="blogs-heading">
        {{lang 'blog.label'}}
    </h3>

    <div class="blogs">

        {{#each blog.recent_posts}}
            <div class="blog">

                <div class="blog-post-figure">
                    {{#if thumbnail}}
                        <figure class="blog-thumbnail">
                            <a href="{{url}}">
                                <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" 
                                data-src="{{getImage thumbnail 'blog_size'}}" alt="{{thumbnail.alt}}" title="{{thumbnail.alt}}">
                            </a>
                        </figure>
                    {{/if}}
                </div> 

                <div class="blog-post-body">
                    <h3 class="title">{{title}}</h3>
                    <p class="blog-date">{{#if author}}{{lang 'blog.posted_by' name=author}} on {{/if}}{{date_published}}</p>
                    <p class="blog-post-summary">{{summary}}...</p>
                    <a href="{{url}}" class="read-more button button--primary button--blog">{{lang 'blog.view-article'}}</a>
                </div>  

            </div>
        {{/each}}

    </div>

</div>
