<div class="space-saving-container">
        <div class="ss-header">
            <h3>Space-Saving Solutions</h3>
        </div>

    <div class="ss-part-wrapper">
       
        <div class="ss-part">
            <a class="ss-part-link" href="/shop/portable-room-dividers/">
                <div class="ss-image">
                    <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/footer-circle-rd.png">
                </div>
                <div class="ss-image-text">
                    <p>Premium Room Dividers</p>
                </div>
            </a>
        </div>
       
 
        <div class="ss-part">
            <a class="ss-part-link" href="/shop/cubicles/diy-custom-cubicles/">
                <div class="ss-image">
                    <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/footer-circle-hp.png">
                </div>
                <div class="ss-image-text">
                    <p>DIY Cubicles</p>
                </div>
            </a>
        </div>
   
 
        <div class="ss-part">
            <a class="ss-part-link" href="/shop/portable-room-dividers/economical-room-dividers/">
                <div class="ss-image">
                    <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/footer-circle-vp.png">
                </div>
                <div class="ss-image-text">
                    <p>Budget Partitions</p>
                </div>
            </a>
        </div>
 
        <div class="ss-part">
            <a class="ss-part-link" href="/shop/portable-room-dividers/outdoor-privacy-screens/">
                <div class="ss-image">
                    <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/footer-circle-ws.png">
                </div>
                <div class="ss-image-text">
                    <p>Wicker Privacy Screens</p>
                </div>
            </a>
        </div>
        
    </div>

</div>
