<div class="wrapper">
    <div class="heading-container">
        <div class="heading">
            The Versare Advantage
        </div>
        <div class="heading-line"></div>
    </div>
    
  

    <div class="inner-wrapper">
        <div class="block block--small">
            <div class="block-text">
                <h2>Versare offers the safest portable partitions, with the highest quality and lowest price</h2>
                <p>Our products are designed, manufactured, and shipped from our Minnesota headquarters directly to you. With a wide selection of heights, widths, colors, and sound-dampening materials, we offer a solution for just about any space-division problem.</p>
            </div>
            <div class="block-image">
                <a href=""
                data-reveal-id="modal-learn-more"> 
                    <img alt="Versare Room Dividers Video" src="https://pull06-versare.netdna-ssl.com/media/wysiwyg/image-video.jpg" height="108" width="464"> 
                </a>
            </div>
            <div id="modal-learn-more" class="modal" data-reveal="" aria-hidden="true"              style="display: none; opacity: 1; visibility: hidden; top: 150px;">
                <div class="modal-content learn-more-content">
                    <a href="#" class="modal-close" aria-label="Close" role="button">
                        <span aria-hidden="true">×</span>
                    </a>
                    <div class="modal-body learn-more-body" style="max-height: 885.3px;">   
                        <iframe id="learn-more-iframe" autoplay width="900" height="506.25" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="loadingOverlay" style="display: none;">
                </div>
            </div>
        </div>

        <div class="block block--big">

            <div class="advantagewrapper">
                <div class="item">
                    <div class="item-info">
                        <div class="item-front front-one">
                        </div>
                        <div class="item-back">
                            <div class="back-text">
                                <a href="#">We custom build and ship room dividers directly from our Minneapolis headquarters daily.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-info">
                        <div class="item-front front-two">
                        </div>
                        <div class="item-back">
                            <div class="back-text">
                                <a href="#">OUR ROOM DIVIDERS SHIP FREE WITHIN THE CONTIGUOUS USA ON ORDERS OF $2,500 OR MORE.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-info">
                        <div class="item-front front-three">
                        </div>
                        <div class="item-back">
                            <div class="back-text">
                                <a href="#">We stand by our craftsmanship! All products we build are backed by a 3-Year Guarantee.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantagewrapper">
                <div class="item">
                    <div class="item-info">
                        <div class="item-front front-four">
                            <div class="patented">
                                <span class="label">
                                </span>
                            </div>
                        </div>
                        <div class="item-back">
                            <div class="back-text">
                                <a href="#">Our aluminum frames are more lightweight and durable than outdated steel partitions.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-info">
                        <div class="item-front front-five">
                            <div class="patented">
                                <span class="label">
                                </span>
                            </div>
                        </div>
                        <div class="item-back">
                            <div class="back-text">
                                <a href="#">Our exclusive full-panel end stabilizers provide increased stability and acoustics.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-info">
                        <div class="item-front front-six">
                            <div class="patented">
                                <span class="label">
                                </span>
                            </div>
                        </div>
                        <div class="item-back">
                            <div class="back-text">
                                <a href="#">Our patented
                                    rotating panels increase arrangement flexibility and won't pinch like piano hinges.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>

    
    </div>




</div>
