<div id="of-posts" class="modal modal--small helpful-modal" data-reveal>
  <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
    <span aria-hidden="true">&#215;</span>
  </a>
  <div class="modal-body">
    <img data-src="{{cdn (lang 'products.modal.posts.img')}}" alt="{{lang 'products.modal.posts.heading'}}" class="lazyload">
    <h2>{{lang 'products.modal.posts.heading'}}</h2>
    {{{lang 'products.modal.posts.body'}}}
  </div>
</div>
<div id="of-wall-mount-brackets" class="modal modal--small helpful-modal" data-reveal>
  <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
    <span aria-hidden="true">&#215;</span>
  </a>
  <div class="modal-body">
    <img data-src="{{cdn (lang 'products.modal.walmount.img')}}" alt="{{lang 'products.modal.walmount.heading'}}" class="lazyload">
    <h2>{{lang 'products.modal.walmount.heading'}}</h2>
    {{{lang 'products.modal.walmount.body'}}}
  </div>
</div>
