@font-face {
    font-family: "Altform";
    font-style: normal;
    src: url("../fonts/Altform-SemiBold.otf");
}
@font-face {
    font-family: "Altform Regular";
    font-style: normal;
    src: url("../fonts/Altform-Regular.otf");
}
