<div class="features-container">

    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/ac-superior-circle.jpg"/>
        </div>
        <div class="feature-heading">
            <p>ACOUSTICALLY SUPERIOR</p>
        </div>
        <div class="feature-text">
            <p>Rated 0.65 NRC, these portable acoustic panels will dampen sound and room reverberations.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/col-opt-circle.jpg"/>
        </div>
        <div class="feature-heading">
            <p>LOOKS AS GOOD AS IT SOUNDS</p>
        </div>
        <div class="feature-text">
            <p>Control sound and look good doing it with over 20 acoustical fabric color options.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/environmentally-conscious-circle.jpg"/>
        </div>
        <div class="feature-heading">
            <p>ENVIRONMENTALLY CONSCIOUS CONSTRUCTION</p>
        </div>
        <div class="feature-text">
            <p>Our special acoustical nonwoven blend is 100% recyclable and non-toxic, unlike fiberglass foam.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/mix-match-circle.jpg"/>
        </div>
        <div class="feature-heading">
            <p>MIX N MATCH</p>
        </div>
        <div class="feature-text">
            <p>Build upon your setup as your organization grows - our sound panels are as affordable as they are attractive.</p>
        </div>
    </div>
    <!-- <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/acoustic-fiberglass-circle.png"/>
        </div>
        <div class="feature-heading">
            <p>ACOUSTIC ROOM DIVIDER</p>
        </div>
        <div class="feature-text">
            <p>Our acoustical fiberglass partition panels provide enhanced sound-dampening and acoustics control.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/pinch-seams-circle.png"/>
        </div>
        <div class="feature-heading">
            <p>NO PINCH SEAMS</p>
        </div>
        <div class="feature-text">
            <p>The seams between each panel of The Room Divider 360 are constructed of radiused extruded aluminum to prevent a pinch point when rotating panels.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/panels-circle.png"/>
        </div>
        <div class="feature-heading">
            <p>PATENTED FULL-SIZED PANEL END UNITS</p>
        </div>
        <div class="feature-text">
            <p>Our premium Room Divider 360 and StraightWall partitions feature full-sized end units, providing enhanced stability in all configurations.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/aluminum-frame-circle.png"/>
        </div>
        <div class="feature-heading">
            <p>ALL-ALUMINUM FRAME CONSTRUCTION</p>
        </div>
        <div class="feature-text">
            <p>Our premium room dividers feature frames constructed of extruded aluminum joined withcast aluminum corner joints for a lighter weight, strength, and maximum durability.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/360-hinge-circle.png"/>
        </div>
        <div class="feature-heading">
            <p>PATENTED 360° HINGE</p>
        </div>
        <div class="feature-text">
            <p>Our folding dividers feature a patented 360-degree cast aluminum hinge allowing full rotation of each panel.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/locking-caster-circle.png"/>
        </div>
        <div class="feature-heading">
            <p>LOCKING CASTER</p>
        </div>
        <div class="feature-text">
            <p>The StraightWall and Room Divider features 3" dual wheel locking casters on the full panel end members.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/hook-circle.png"/>
        </div>
        <div class="feature-heading">
            <p>ACCEPTS HOOKS</p>
        </div>
        <div class="feature-text">
            <p>The stability of our premium dividers allows for hanging objects such as artwork, photos, flat screen monitors, or dry erase boards over the top of the partition.</p>
        </div>
    </div>
    <div class="feature">
        <div class="feature-image">
            <img src="https://cdn11.bigcommerce.com/s-bcwxdbhdjm/product_images/uploaded_images/tackable-surface-circle.png"/>
        </div>
        <div class="feature-heading">
            <p>TACKABLE SURFACE</p>
        </div>
        <div class="feature-text">
            <p>Our acoustical fabric panel option is tackable, allowing signage, art, or notes to be posted with pushpins.</p>
        </div>
    </div> -->



</div>
