<div class="overview-container">
    <h2 class="overview-title">Product Resources</h2>

    <ul>
        <li class="indent">
            <a class="overview-link" href="">Fabric Chart</a>&nbsp; | &nbsp;
            <a class="overview-link" href="">Product Brochure</a>
         </li>
    </ul>

    <div class="overview-text">

            <p>Dampen room sound with style. Our Sound Stones (Wall) are a perfect wall-mounted solution for controlling excess room noise while providing a decorative accent that can integrate into any area. Display in multiple configurations and on multiple walls to cut down unwanted sound. Eliminating excess room noise and reverberations is simple with these affordable sound panels.</p>
 
            <p>The unique construction of our Sound Stones provides superior sound absorption while inhibiting wave penetration via several layers of sound-dampening materials. The first layer is our durable FR701 acoustical fabric, also found on our premium room dividers, and available in over twenty attractive colors. The second layer is comprised of 100% recyclable 2000 gram density nonwoven polyester, which is more environmentally friendly than common, toxic fiberglass foam, but just as effective at breaking down sound. The third layer is our rigid mineral board honeycomb, which acts as a sound trap. All layers are tightly bonded together with a non-toxic, solvent free (no VOC Volatile Organic Compound), 100% solid adhesive system. These lightweight sound panels mount to any wall quickly and easily with the included durable, adhesive foam strips. Simply remove the adhesive liner, press in place, and the sound panel will be locked in and held tight.</p>
             
            <p>Our Sound Stones (Wall) are available in several acoustical fabric colors and a variety of sizes (24" x 24", 48" x 12", and 48" x 24"). For best sound-dampening results, we recommend covering 15-20% of your room's square footage.</p>
             
            <p>Create a modern-looking and professional acoustic environment with ease! These attractive acoustic panels are proudly made in the USA and will help control acoustics in office conference rooms, theaters, restaurants, home studios, auditoriums, and anywhere echo and reverberation may be a problem. Use our Sound Stones (Wall) in conjunction with <a href="#">Sound Stones (Ceiling)</a> or our <a href="#">freestanding Monolith Acoustic Panel</a> for enhanced performance and interior design unification.</p>
            
            From the bottle to the panel – Our acoustical products are made from PET bottles which are turned into a soft yet strong material that is durable and has great acoustical performance</p>
    </div>

    <h2 class="overview-title">Contact / Support</h2>

    <ul>
        <li class="indent">
            {{lang 'products.tabs_call'}} <a class="overview-link" href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a>&nbsp; | &nbsp;
            <a class="overview-link" href="">{{lang 'products.tabs_support'}}</a>
        </li>
    </ul>

</div>
